html {
	font-size: 10px;
}

body {
	background: $dark;
	font-family: $font-family;
	height: 100%;
	margin: 0 auto;
}

main {
	background: $static-white;
	
}

a {
	text-decoration: none;
}

h1 {
	@include font(3.2rem, 1.5, 0.18em, 600);
	text-transform: uppercase;
	text-align: center;
	color: $static-white;
}

h2 {
	@include font(2.4rem, 1.52, 0.16em, 600);
	text-transform: uppercase;
	color: $static-white;
}

h3 {
	@include font(1.6rem, 1.52, 0.08em, 600);
	text-align: center;
	color: $static-white;
	text-transform: uppercase;
}

h4 {
	@include font(1.2rem, 1.3, 0.05em, 600);	
	text-transform: uppercase;
}

p {
	@include font(1.6rem, 1.48, 0, 400);	
	color: $dark;
}

.caption {
	@include font(2.4rem, 1, 0.05em, 400);
	font-family: $second-family;	
	text-align: center;
	color: $static-white;	
}
