* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--primary: #ff4646;
	--dark: #181c29;
	--static-white: #fff;
	--content-background: #ecf3f8;
	--tag-purple: #4361ff;
	--tag-pink: #ff43f7;
	--tag-green: #06a44f;
	--primary-10: rgba(255, 70, 70, 0.1);
	--static-white-20: rgba(255, 255, 255, 0.2);
	--static-white-40: rgba(255, 255, 255, 0.4);

	--font-family: 'Montserrat', sans-serif;
	--second-family: 'Allura', cursive;
	--third-family: 'SF Pro', sans-serif;
}

body {
	background: var(--primary);
	font-family: var(--font-family);
	height: 100%;
	margin: 0 auto;
}

.h3 {
	font-family: var(--second-family);
	font-weight: 400;
	font-size: 24px;
	line-height: 100%;
	letter-spacing: 0.05em;
	text-align: center;
	color: var(--static-white);
}

a {
	text-decoration: none;
}
.container {
	max-width: 1440px;
	margin: 0 auto;
}

.header {
	background: var(--static-white);
	padding: 12px 82px;
	display: flex;
	justify-content: space-between;
}

.logo {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
	padding: 8px 20px;
	cursor: pointer;
	border: 1px dashed transparent;
	border-radius: 4px;
}

.logo:hover {
	border: 1px dashed var(--tag-green);
	border-radius: 4px;
	background: rgba(6, 164, 79, 0.1);
}

.logo__text {
	font-weight: 600;
	font-size: 12px;
	line-height: 130%;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: var(--dark);
}

.nav__list {
	list-style: none;
	display: flex;
	gap: 8px;
}

.nav__item {
	a {
		display: flex;
		font-family: var(--font-family);
		font-weight: 600;
		font-size: 12px;
		line-height: 130%;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		color: var(--dark);
		padding: 12px 20px;
		border: 1px solid rgba(255, 255, 255, 0.1);
	}

	a:hover {
		color: var(--primary);
		border: 1px solid rgba(255, 255, 255, 0.1);
		border-radius: 24px;
		background: rgba(255, 70, 70, 0.1);
	}
}

.hero__wrapper {
	background:  url('./src/images/bg-ball.png') center,
		url(src/images/snow.png);
	/* height: 488px; */
	background-size: cover;
    background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	align-items: center;
    padding: 60px 0px;
    border-bottom: 1px solid white;
}

.hero__content {
	padding: 60px 0;
	max-width: 426px;
}

.hero__title {
	font-family: var(--font-family);
	font-weight: 600;
	font-size: 32px;
	line-height: 150%;
	letter-spacing: 0.17em;
	text-transform: uppercase;
	text-align: center;
	color: var(--static-white);
	margin: 12px 0;
}

.hero__button {
	border-radius: 20px;
	padding: 20px 32px;
	width: 236px;
	font-family: var(--font-family);
	font-weight: 600;
	font-size: 12px;
	line-height: 130%;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	text-align: center;
	color: var(--static-white);
    display: flex;
    background: var(--dark);
    padding: 20px 32px;
    margin: 12px auto;
}
