.dark__button {	
	@include font(1.2rem, 1.3, 0.05em, 600, normal);
	text-transform: uppercase;
	border-radius: 20px;
	padding: 20px 32px;	
	color: $static-white;	
	background: $dark;
	padding: 20px 32px;
	margin: 0 auto;
	cursor: pointer;
	@extend %transition;

	&:hover {
		background: $static-white;
		color: $dark;
	}
}

