.dark__button {
	border-radius: 20px;
	padding: 20px 32px;
	width: 236px;
	font-family: var(--font-family);
	font-weight: 600;
	font-size: 12px;
	line-height: 130%;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	text-align: center;
	color: $static-white;
	display: flex;
	background: $dark;
	padding: 20px 32px;
	margin: 12px auto;
}