.icon {
	padding: 8px;
	width: 40px;
	height: 40px;
	@extend %transition;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;	
	stroke: $dark;
	// fill: $static-white;
	

	&:hover {
		stroke: $primary;
		background: rgba(6, 164, 79, 0.1);
		border-radius: 4px;
		border: 1px dashed $tag-green;
	}
	// .icon-social {
	// 	stroke: $dark;
	// 	fill: $static-white;
	// }
}


.arrow {
	width: 56px;
	height: 56px;
	@extend %transition;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	background: transparent;
	border: 1px solid $static-white;
	border-radius: 20px;
	stroke: $static-white;
	fill: transparent;
			

	&:hover {
		stroke: $primary;
		background: $static-white;
	}
}

.arrow-left {
	transform: rotate(180deg);
}



