.about__title {
	color: $dark;
}

.about__content {
	border-radius: 20px;
	flex-basis: 50%;
	padding: 100px 152px 100px 60px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	
}

.about__caption {
	font-family: $second-family;
	font-weight: 400;
	font-size: 24px;
	line-height: 100%;
	letter-spacing: 0.05em;
	color: $primary;
	margin-top: 58px;
}

.about__img {
	flex-basis: 50%;
}

.about__img img {
	border-radius: 20px;
	// max-width: 638px;
	height: auto;
	border: none;
	object-fit: cover;
	display: block;
	width: 100%;
	// height: 100%;
}