.about__bg {
	background: $static-white;
	display: flex;
	gap: 92px;
	border-radius: 20px;
	align-items: center;
	overflow-x: hidden;

	@include media-laptop {
		gap: 0;
	}
	@include media-big-mobile {
		flex-direction: column;
	}
}

.about__title {
	color: $dark;
}

.about__content {
	border-radius: 20px;
	width: 50%;
	padding: 0 60px;	
	@include flex(column);
	justify-content: center;
	gap: 20px;	
	flex-grow: 1;

	
	@include media-big-mobile {
		padding: 60px 20px;
		width: 100%;
	}
}

.caption-about {
	color: $primary;
	text-align: left;
}

.about__img {
	max-width: 638px;
	width: 50%;
	height: 528px;
	border-radius: 20px;
	overflow: hidden;
	flex-shrink: 0;

	@include media-big-mobile {
		width: 100%;
		height: 528px;
	}
}

.about__img img {
	border-radius: 20px;
	width: 100%;
	height: 100%;
	object-fit: cover;
	
}
