.cta__content {
	max-width: 426px;
	@include flex(column);	
    gap: 20px;
	align-items: center;
	justify-content: center;
	padding: 120px 0;
	margin: 0 auto;

	h2 {
		text-align: center;
	}

    
	.timer {
		margin-top: 10px;
		display: flex;        
		border-radius: 20px;
		padding: 7px 12px 12px 12px;
        background: $static-white-40;
				

		.timer__item {
			width: 80px;
            @include flex(column);	
            align-items: center;
            position: relative;
			h4 {
				color: $static-white;
                text-align: center;
			}
		}
        .timer__item:not(:last-child)::after {
            position: absolute;
            content: '';
            background: $static-white;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
            width: 1px;
            height: 20px;
        }
	}
}


