.contact__cards {
	display: flex;
	gap: 12px;
	margin-bottom: 60px;

	@include media-tablet {
		@include flex(column);
		margin-bottom: 0;
		gap: 13px;				
	}

	.contact__card {
		@include flex(column);	
		gap: 11px;
		align-items: center;		
		flex-basis: calc((100% - 24px) / 3);
		background: $content-background;
		border-radius: 20px;
		padding: 20px 0;

		a,
		h3 {
			color: $dark;
		}

		a {
			@include font(2.4rem, 1.52, 0.16em, 600);						
			text-transform: uppercase;
		}


		img {
			width: 80px;
			height: 80px;
			object-fit: contain;
		}
	}
}

.socials {
	@include flex(column);	
	// align-self: center;
    gap: 12px;

	@include media-tablet {
		padding: 60px 0;						
	}


	
	&__icons {
		display: flex;
		justify-content: center;
        gap: 12px;

		
	}
    .copy-rights {       
        text-align: center;        
    }

    .caption {
        color: $dark;		
    }
}

