.contact__cards {
	display: flex;
	gap: 12px;
	margin-bottom: 60px;

	.contact__card {
		display: flex;
		flex-direction: column;
		gap: 12px;
		align-items: center;
		flex-basis: 33%;
		background: $content-background;
		border-radius: 20px;
		padding: 20px 0;

		a,
		h3 {
			color: $dark;
		}

		a {
			font-weight: 600;
			font-size: 24px;
			line-height: 152%;
			letter-spacing: 0.16em;
			text-transform: uppercase;
		}

		h3 {
			font-family: $font-family;
			font-weight: 600;
			font-size: 16px;
			line-height: 152%;
			letter-spacing: 0.08em;
			text-transform: uppercase;
		}

		img {
			width: 80px;
			height: 80px;
		}
	}
}

.socials {
	display: flex;
	flex-direction: column;
	align-self: center;
    gap: 10px;

	
	&__icons {
		display: flex;
		justify-content: center;
        gap: 12px;


		a {
			padding: 8px;
		}
	}
    .copy-rights {
        font-weight: 400;
        font-size: 16px;
        line-height: 148%;
        text-align: center;
        
    }

    .caption {
        color: $dark;
    }
}

