.gifts__cards {
	display: flex;
	flex-wrap: wrap;
	gap: 12px;
	margin-top: 1.8rem;
	justify-content: space-between;
	position: relative;
	
	@include media-big-mobile {
		padding: 0 27px;	
	}
}

.caption-gifts {
	margin-bottom: 12px;

	@include media-laptop {
		margin-bottom: 11px;	
	}
}

.gift-cards__wrapper {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 12px;
	width: 100%;
}
