
.header {
	background: $static-white;
	padding: 12px 82px;
	display: flex;
	justify-content: space-between;
	

	@include media-tablet {
		padding: 12px 8px;
	}
}

.logo {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
	padding: 8px 20px;
	cursor: pointer;
	border: 1px dashed transparent;
	border-radius: 4px;
	@extend %transition;
}

.logo:hover {
	border: 1px dashed $tag-green;
	border-radius: 4px;
	background: rgba(6, 164, 79, 0.1);
}

.logo__text {
	font-weight: 600;
	font-size: 12px;
	line-height: 130%;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: var(--dark);
}

