


.hero__content {
	padding: 60px 0;
	max-width: 426px;
}

.hero__title {
	font-family: var(--font-family);
	font-weight: 600;
	font-size: 32px;
	line-height: 150%;
	letter-spacing: 0.17em;
	text-transform: uppercase;
	text-align: center;
	color: $static-white;
	margin: 12px 0;
}

.hero__button {
	border-radius: 20px;
	padding: 20px 32px;
	width: 236px;
	font-family: var(--font-family);
	font-weight: 600;
	font-size: 12px;
	line-height: 130%;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	text-align: center;
	color: $static-white;
	display: flex;
	background: $dark;
	padding: 20px 32px;
	margin: 12px auto;
}