.caption-slider {
	margin-bottom: 12px;
}

.slider__window {
	overflow-x: hidden;
	width: 100%;
}

.slider__line {
	display: flex;
	align-items: center;
	gap: 20px;
}

.slider__text {
	@include font(8rem, 1.219, 0em, 600, normal);
	text-transform: uppercase;
	text-align: center;
	color: $static-white;
}

.slider__text:first-child {
	margin-left: 84px;
}

.slider__image {
	border-radius: 20px;
}

.slider__controlls {
	display: flex;
	width: 100%;
	padding: 0 82px;
	gap: 20px;
	justify-content: flex-end;

	@include media-laptop {
		padding: 0 8px;	
	}
}
